[submodule "vim/submodules/vim-surround"]
	path = vim/submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/submodules/vim-coffeescript"]
	path = vim/submodules/vim-coffeescript
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/c9s/bufexplorer.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
