[submodule "vim/submodules/vim-surround"]
	path = vim/submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/c9s/bufexplorer.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/paredit"]
	path = vim/bundle/paredit
	url = git@github.com:vim-scripts/paredit.vim.git
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/bundle/salve"]
	path = vim/bundle/salve
	url = git@github.com:tpope/vim-salve.git
[submodule "vim/bundle/vim-ember-hbs"]
	path = vim/bundle/vim-ember-hbs
	url = git@github.com:joukevandermaas/vim-ember-hbs.git
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "vim/plugged/coc.nvim"]
	path = vim/plugged/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/plugged/typescript-vim"]
	path = vim/plugged/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/plugged/vim-jsx-typescript"]
	path = vim/plugged/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
[submodule "vim/plugged/copilot.vim"]
	path = vim/plugged/copilot.vim
	url = git@github.com:neoclide/coc.nvim.git
