[submodule "vim/submodules/vim-surround"]
	path = vim/submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/submodules/vim-coffeescript"]
	path = vim/submodules/vim-coffeescript
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/c9s/bufexplorer.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/paredit"]
	path = vim/bundle/paredit
	url = git@github.com:vim-scripts/paredit.vim.git
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/bundle/salve"]
	path = vim/bundle/salve
	url = git@github.com:tpope/vim-salve.git
[submodule "vim/bundle/vim-ember-hbs"]
	path = vim/bundle/vim-ember-hbs
	url = git@github.com:joukevandermaas/vim-ember-hbs.git
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
